.zong{
    width: 300px;
    height: 500px;
    margin: auto;
    position: relative;
    background: url(/airsys/assets/image/piao.jpg) no-repeat center/100% 100%;
    color: black;
}
.submit{
    position: absolute;
    right: 0;
    bottom: 0;
}
.one{
	font-size: 18px;
}
